# Idsvr files
idsvr-config/license.json
idsvr-config/templates/*

# Self signed certficates
certs/*.pem
certs/*.key
certs/*.csr
certs/*.srl

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Dependency directories
node_modules/
**/package-lock.json

# terraform config backup
terraform-config-bkup/*

# miscellaneous
.DS_Store
