# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore CLI configuration files
.terraformrc
terraform.rc

# terraform config backup
terraform-config-bkup/*

# miscellaneous
.DS_Store
